*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: black;
    font-size: 1em;
}


body{
    background-color:whitesmoke;
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px;
}

header{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(234, 235, 237);
    margin-bottom: 15px;
}

p{
    padding: 3px 0;
    font-size: 16px;
}

li{
    font-size: 16px;
}

a{
    text-decoration: none;
    font-size: 16px;
}

img{
    margin-right: 10px;
    vertical-align:bottom;
}

h1{
    font-size: 28px;
    color: #30336b;
    padding: 6px 0;
    line-height: 24px;
}

h2{
    color: #30336b;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 0;
}

h3{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

section{
    font-size: 20px;
    padding: 0 20px;
}

ul{
    list-style: disc inside;
}

.about_me{
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    font: 16px sans-serif;
    line-height: 20px;
}

.foto{
    margin: 15px;
    border-radius: 80px;
    width: 140px;
    height: 140px;    
}

.contacts{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    font: 16px sans-serif;
}

.dates{
    color:gray;
    font-size: 14px;
}

.speciality{
    font-weight: 600;
}

.additional{
    font-style: oblique;
}

@media (max-width:600px){
    header{
        /* flex-direction: column; */
        align-items: start;
    }
    .foto{
        width: 100px;
        height: 100px;    
    }
}