*{
    margin: 0;
    padding: 0;
    box-sizing: boarding-box;
    color: black;
    font-size: 1em;
}


body{
    background-color:whitesmoke;
    margin: 0 auto;
    max-width: 1000px;
    padding: 15px;
}

p{
    /* padding: 10px 0; */
    font-size: 18px;
}

a{
    text-decoration: none;
}

img{
    margin-right: 10px;
    vertical-align:bottom;
}

header{
    /* width: 95%; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 25px; */
    border-radius: 25px;
    background-color: rgb(234, 235, 237);
}


h1{
    font-size: 28px;
    color: #30336b;
    padding: 10px 0;
}

h2 {
    color: #30336b;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 0;
}

h3{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

section{
    font-size: 20px;
    padding: 25px 20px;
}

ul{
    list-style:circle inside;
}

.about_me{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    font: 1em sans-serif;
}

.foto{
    margin: 15px;
    border-radius: 80px;
    width: 160px;
    height: 160px;
}

.contacts{
    display: flex;
    align-items: center;
    gap:20px
}

.dates{
    color:gray;
    font-size: 14px;
}

ul.education{
    margin-bottom: 20px;
    display: inline;
}